<h1>Homehospital#index</h1>

<ul><li> <%= link_to "Mantenimientos", mantenimiento_path%></li>
	<li> <%= link_to "Citas", appointments_path %></li>
	<li> <%= link_to "Reportes", reportes_path %>

</ul>
